<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />

    <!-- Open Graph -->
    <meta property="og:title" content="<%= locals.title %>" />
    <meta property="og:description" content="<%= locals.description %>" />
    <meta property="og:url" content="https://difficult-ring.cyclic.cloud/" />
    <meta property="og:image" content="/img/site_image.png" />
    <meta property="og:type" content="website" />

    <!-- General Meta Tag -->
    <meta name="title" content="<%= locals.title %>" />
    <meta name="description" content="<%= locals.description %>" />
    <link rel="image_src" href="/img/site_image.png" />

    <title><%= locals.title %></title>
    <meta name="description" content=" <%= locals.description %>" />
    <link rel="stylesheet" href="/css/style.css" />
    <script type="text/javascript" defer src="/js/script.js"></script>
  </head>
  <body>
    <%- include('../partials/search.ejs') %>
    <div class="container">
      <% if (locals.username) { %> <%- include('../partials/header_user.ejs') %>
      <% } else { %> <%- include('../partials/header.ejs') %> <% } %>
      <main class="main"><%- body %></main>
      <%- include('../partials/footer.ejs') %>
    </div>
  </body>
</html>
