<div class="author">
  <h1 class="author__heading">Hi, I'm Blake.</h1>
  <p class="author__body">Web Developer.</p>
  <p class="author__body">
    <span id="typed-output"></span><span class="cursor">|</span>
  </p>
</div>

<img
  src="/img/hero-image.webp"
  alt="person looking out through window"
  class="hero-image"
  width="981"
  height="528"
/>


<h2 class="articles__heading">Contribute</h2>
<div class="contribute-container">
  <p class="contribute-text">
    We warmly welcome your contributions! There's no 
    need for an account to share your insights with us. 
    However, if you wish to have the ability to edit or 
    remove your posts, we kindly ask you to sign in. 
    This ensures the integrity and quality of the content 
    on our platform.
  </p>
  <div class="contribute-button-container">
    <a href="/guest-post" class="btn-contribute">Contribute</a>
    <a href="/login" class="btn">Login</a>
  </div>
</div>

<section class="articles">
  <div class="posts-title-container">
    <h2 class="articles__heading">Latest Posts</h2>
    <a href="/guest-post">+ Add a post</a>
  </div>

  <ul class="article-ul">
    <% data.forEach(post => { %>
    <li>
      <a href="/post/<%= post._id %>">
        <div class="post-info">
          <span><%= post.title %></span>
          <span class="post-author"><%= post.author %></span>
        </div>
        <span class="article-list__date"
          ><%= post.createdAt.toDateString() %></span
        >
      </a>
    </li>
    <% }) %>
  </ul>

  <% if (nextPage !== null) { %>
  <a href="/?page=<%= nextPage %>" class="pagination">&lt; View Older Posts</a>
  <% } %>
</section>
