<div class="author">
  <h1 class="author__heading">Hi, @<%= username %></h1>
  <p class="author__body">Welcome to my blog!</p>
</div>

<h2 class="articles__heading">Contributions</h2>
<div class="contribute-container">
  <p class="contribute-text">
    Thank you for signing in and contributing to our blog! Your ability to share
    insights is greatly appreciated. Now that you have an account, you have the
    ability to edit or remove your posts. This not only gives you control over
    your content, but also helps us maintain the integrity and quality of the
    content on our platform. We're excited to see your contributions!
  </p>
  <div class="contribute-button-container">
    <a href="/userdashboard" class="btn">Dashboard</a>
  </div>
</div>

<section class="articles">
  <div class="posts-title-container">
    <h2 class="articles__heading">Latest Posts</h2>
    <a href="/create-post">+ Add a post</a>
  </div>
  <ul class="article-ul">
    <% data.forEach(post => { %>
    <li>
      <a href="/post/<%= post._id %>">
        <div class="post-info">
          <span><%= post.title %></span>
          <span class="post-author"><%= post.author %></span>
        </div>
        <span class="article-list__date"
          ><%= post.createdAt.toDateString() %></span
        >
      </a>
    </li>
    <% }) %>
  </ul>

  <% if (nextPage !== null) { %>
  <a href="/?page=<%= nextPage %>" class="pagination">&lt; View Older Posts</a>
  <% } %>
</section>
